server:
  port: 8888

spring:
  application:
    name: ConfigServer
  cloud:
    config:
      server:
        native:
          search-locations: file:///config-repo

eureka:
  client:
    serviceUrl:
      defaultZone: http://eureka-server:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: false
    hostname: config-server
