# Firebase credentials (ne pas commiter)
Microservice/UsersService/vente-en-ligne-13622-firebase-adminsdk-fbsvc-076080c9a0.json
Microservice/UsersService/src/main/resources/firebase-service-account.json
Microservice/APIGateway/src/main/resources/firebase-credentials.json
frontend/.env
*.json.bak

# IDE
.idea/
*.iml

# Build
target/
node_modules/
dist/

# Logs
*.log
startup-logs.txt
